<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Resumes</h1>
{% for resume in resumes %}
    <div>{{resume.author}}: {{resume.description}}</div>
{% endfor %}
<h2>Vacancies</h2>
{% for vacancy in vacancies %}
    <div>{{vacancy.author}}: {{vacancy.description}}</div>
{% endfor %}
<br>
    <div><a href="/vacancy/new/">Submit new vacancy</a></div>
    <div><a href="/resume/new/">Submit new resume</a></div>

{% if is_authenticated == True %}

<br>
<form method="post">{% csrf_token %}
    <label for="description">Description: </label>
    <input id="description" type="text" name="description" value="{{ description }}">
    <input type="submit" value="OK">
</form>
{% endif %}

</body>
</html>
